__pycache__/
*.pyc
*.pyo


# Virtual environment
venv/
env/
envs/
chater/

# Database
db.sqlite3

*.log
logs/

.env
.env.local
.env.testing

data/

.git/
.hg/

dist/
build/
*.tar.gz
*.zip


.vscode/
.idea/
*.swp